# **영화 추천 시스템**

### 문제제기: 
기존 영화추천 시스템 프로젝트는 TMBb를 이용하고 있으며, 캐글에서 구할 수 있고, 잘 정리되어 있다는 장점이 있으나, </br>
외국 자료로, 한국의 실정과 다를 수 있다. </br>
</br>
한국인들이 평가한 한국자료로 영화 추천 시스템 현지화.

### 자료수집:
네이버 영화(https://.movie.naver.com)에서, 다음과 같은 정보를 BeautifulSoup를 이용하여 스크레이핑하였다.

- 평점 기반 랭킹 2000위(네이버에서 제공하는 수)
- 개별 페이지
  - 영화 제목
  - 영화 장르
  - 감독
  - 출연배우
  - 등급
  - 성별, 나이별 관람추이
    - 많이 본 성별(1)
    - 많이 본 나이(1)
  - 줄거리
  - 제작진(각본가)(1)

#### 기본설정

In [ ]:
#작업 경로 변경
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/codestates AIB16/project3')

In [ ]:
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import numpy as np
import re

#### 메인페이지-랭킹 웹스크레이핑

In [ ]:
# 페이지 로드
def get_page(page_url):
  page = requests.get(page_url)
  soup = BeautifulSoup(page.content, 'html.parser')

  return soup

In [ ]:
BASE_URL = 'https://movie.naver.com/movie'

In [ ]:
# title_line.pop(0)['href']

In [ ]:
# 영화랭킹, 평점순(모든영화)
# 페이지당 50위, 총 40페이지, 2000위까지 제공
# 평점 응답자가 300명 이상인 경우 집계하고 있음(일반적인 여론조사에서 최소 응답자수: 네이버 설명)
# 20230102 기준

# 영화 제목
# 영화 평점
# 영화제목에서 movie_code

# 빈 리스트 설정
movie_code_list = []
title_list = []
get_stars = []

def get_stars_by_page_num(page_num=1):
  for p in range(1,page_num+1):
    # 연결
    rank_url = f'{BASE_URL}/sdb/rank/rmovie.naver?sel=pnt&date=20230102&page={p}'
    soup = get_page(rank_url)
    # 정보 위치 파악
    title_line = soup.select("td.title > div.tit5 > a")
    stars_list = soup.select('td.point')
    # 제목, 코드, 별점
    for x in title_line:
      title_list.append(x.text)
    for x in title_line:
      movie_code_list.append(x['href'].split('=')[-1])
    for x in stars_list:
      get_stars.append(float(x.get_text()))

    time.sleep(2)
  return title_list, movie_code_list, get_stars

In [ ]:
title_list, movie_code_list, get_stars = get_stars_by_page_num(40)
title_list

In [ ]:
len(title_list)

In [ ]:
# 데이터프레임화
df = pd.DataFrame(
      {"title":title_list,
       "code":movie_code_list,
       "stars":get_stars}  
       )

In [ ]:
df.to_csv('movie_ranking.csv',index=False, encoding='UTF-8-sig')

In [ ]:
df = pd.read_csv('movie_ranking.csv')

#### 개별 상세페이지 웹스크레이핑

In [ ]:
# 데이터 수집 계획

# 개별 페이지: df['code'] 이용하여 접근
code = df['code']
detail_url = f'{BASE_URL}/bi/mi/basic.naver?code={code}'
soup = get_page(detail_url)
info = soup.find('dl', class_='info_spec')

# 영화 장르(1)
# 감독(1)
# 출연(1)
# 등급
genre = info.select('a:nth-of-type(1)').pop().text
director = info.select('a:nth-of-type(5)').pop().text.replace(' ','')
actor1 = info.select('a:nth-of-type(6)').pop().text.replace(' ','')
# 구글 코랩은 nth-of-type만 지원한다.
# last-of-type, nth-last-of-type 모두 오류..
# grade = info.select('a:nth-last-of-type(1)').pop().text.replace(' ','')

# 성별, 나이별 관람추이
  # 많이 본 성별(1)
   # donut_graph내에 값에 find, select로 접근이 안된다..
   # 자바스크립트로 동적으로 불러온다고 한다. 셀레니움 또는 disable JS 후 이미지 자체 추출
  # 많이 본 나이(1) - EDA하면서 new_column 추출
age10 = soup.select('div.bar_graph strong:nth-of-type(1)').pop()
age20 = soup.select('div.bar_graph strong:nth-of-type(3)').pop()
age30 = soup.select('div.bar_graph strong:nth-of-type(5)').pop()
age40 = soup.select('div.bar_graph strong:nth-of-type(7)').pop()
age50 = soup.select('div.bar_graph strong:nth-of-type(9)').pop()

age10_percent = re.sub('[^0-9]','',str(age10))
age20_percent = re.sub('[^0-9]','',str(age20))
age30_percent = re.sub('[^0-9]','',str(age30))
age40_percent = re.sub('[^0-9]','',str(age40))
age50_percent = re.sub('[^0-9]','',str(age50))
# 줄거리: skip
# 제작진(각본가)(1)
super_detail_url = f'{BASE_URL}/movie/bi/mi/detail.naver?code={code}'
staff = re.sub('[^가-힣]','',str(soup.select_one('table.staff_lst td > span')))

In [ ]:
df_added = df.copy()
df_added

In [ ]:
# 영화장르, 감독, 주연
genre_list = []
director_list = []
actor_list = []

for i in range(0,2000):
  code = df_added['code'][i]
  detail_url = f'{BASE_URL}/bi/mi/basic.naver?code={code}'
  soup = get_page(detail_url)
  info = soup.find('dl', class_='info_spec')

  try:
    info.select('a:nth-of-type(1)').pop()
  except:
    genre_list.append(None)
  else:
    genre_list.append(info.select('a:nth-of-type(1)').pop().text)

  try:
    info.select('p:nth-of-type(2) > a:nth-of-type(1)').pop()
  except:
    director_list.append(None)
  else:
    director_list.append(info.select('p:nth-of-type(2) > a:nth-of-type(1)').pop().text.replace(' ',''))

  try:
    info.select('p:nth-of-type(3) > a:nth-of-type(1)').pop()
  except:
    actor_list.append(None)
  else:
    actor_list.append(info.select('p:nth-of-type(3) > a:nth-of-type(1)').pop().text.replace(' ',''))

  time.sleep(1)


  # genre_list.append(info.select('a:nth-of-type(1)').pop().text)
  # director_list.append(info.select('a:nth-of-type(5)').pop().text.replace(' ',''))
  # actor_list.append(info.select('a:nth-of-type(6)').pop().text.replace(' ',''))

In [ ]:
# 단어 유사도 분석 시 떨어지지 않는 한 단어 자체의 중요도를 갖기 위해서는 띄어쓰기를 없애주어야 한다.
# 띄어쓰기를 기준으로 단어 분리.

In [ ]:
# test
code = 160399
detail_url = f'{BASE_URL}/bi/mi/basic.naver?code={code}'
soup2 = get_page(detail_url)
info2 = soup2.find('dl', class_='info_spec')
info2.select('a')

In [ ]:
df_info = pd.DataFrame(
    {"genre":genre_list,
     "director":director_list,
     "actor":actor_list}
     )

In [ ]:
df_info.to_csv('movie_info.csv',index=False, encoding='UTF-8-sig')

In [ ]:
#나이대별 관람비율
age10_list = []
age20_list = []
age30_list = []
age40_list = []
age50_list = []

for i in range(0,1999):
  code = df_added['code'][i]
  detail_url = f'{BASE_URL}/bi/mi/basic.naver?code={code}'
  soup = get_page(detail_url)
  info = soup.find('dl', class_='info_spec')

  try:
    age10 = soup.select('div.bar_graph strong:nth-of-type(1)').pop()
  except:
    age10_list.append('none')
  else:
    age10_list.append(re.sub('[^0-9]','',str(age10)))

  try:
    age20 = soup.select('div.bar_graph strong:nth-of-type(3)').pop()
  except:
    age20_list.append('none')
  else:
    age20_list.append(re.sub('[^0-9]','',str(age20)))

  try:
    age30 = soup.select('div.bar_graph strong:nth-of-type(5)').pop()
  except:
    age30_list.append('none')
  else:
    age30_list.append(re.sub('[^0-9]','',str(age30)))

  try:
    age40 = soup.select('div.bar_graph strong:nth-of-type(7)').pop()
  except:
    age40_list.append('none')
  else:
    age40_list.append(re.sub('[^0-9]','',str(age40)))

  try:
    age50 = soup.select('div.bar_graph strong:nth-of-type(9)').pop()
  except:
    age50_list.append('none')
  else:
    age50_list.append(re.sub('[^0-9]','',str(age50)))

  time.sleep(1)


    # age10 = soup.select('div.bar_graph strong:nth-of-type(1)').pop()
    # age10_list.append(re.sub('[^0-9]','',str(age10)))
    # age20 = soup.select('div.bar_graph strong:nth-of-type(3)').pop()
    # age20_list.append(re.sub('[^0-9]','',str(age20)))
    # age30 = soup.select('div.bar_graph strong:nth-of-type(5)').pop()
    # age30_list.append(re.sub('[^0-9]','',str(age30)))
    # age40 = soup.select('div.bar_graph strong:nth-of-type(7)').pop()
    # age40_list.append(re.sub('[^0-9]','',str(age40)))
    # age50 = soup.select('div.bar_graph strong:nth-of-type(9)').pop()
    # age50_list.append(re.sub('[^0-9]','',str(age50)))
    # IndexError: pop from empty list 해당 정보가 없는 경우(bar_graph자체가 없음)가 있어 오류가 난다. -> 예외처리


  # df_added['genre'][i] = info.select('a:nth-of-type(1)').pop().text
  # df_added['director'][i] = info.select('a:nth-of-type(5)').pop().text.replace(' ','')
  # df_added['actor'][i] = info.select('a:nth-of-type(6)').pop().text.replace(' ','')

  # age10 = soup.select('div.bar_graph strong:nth-of-type(1)').pop()
  # df_added['age10'][i] = re.sub('[^0-9]','',str(age10))
  # age20 = soup.select('div.bar_graph strong:nth-of-type(3)').pop()
  # df_added['age20'][i] = re.sub('[^0-9]','',str(age20))
  # age30 = soup.select('div.bar_graph strong:nth-of-type(5)').pop()
  # df_added['age30'][i] = re.sub('[^0-9]','',str(age30))
  # age40 = soup.select('div.bar_graph strong:nth-of-type(7)').pop()
  # df_added['age40'][i] = re.sub('[^0-9]','',str(age40))
  # age50 = soup.select('div.bar_graph strong:nth-of-type(9)').pop()
  # df_added['age50'][i] = re.sub('[^0-9]','',str(age50))

  # error message: 
  # if is_scalar(key) and isna(key) and not self.hasnans: KeyError: 'genre'
  # 데이터프레임에서 한 열의 정보를 바탕으로 다른열을 추가할 수 없나?

In [ ]:
df_age = pd.DataFrame(
    {"age10":age10_list,
     "age20":age20_list,
     "age30":age30_list,
     "age40":age40_list,
     "age50":age50_list}
     )

In [ ]:
# idxmax를 쓰기 위해.. 정수타입으로 변환
# 처음부터 어떻게 쓸 것이고, 어떤 타입이어야 하는지 잘 설계해야 한다.
df['age10'] = df['age10'].str.replace('none', '0')
df['age20'] = df['age20'].str.replace('none', '0')
df['age30'] = df['age30'].str.replace('none', '0')
df['age40'] = df['age40'].str.replace('none', '0')
df['age50'] = df['age50'].str.replace('none', '0')

df['age10'] = df['age10'].astype(int)
df['age20'] = df['age20'].astype(int)
df['age30'] = df['age30'].astype(int)
df['age40'] = df['age40'].astype(int)
df['age50'] = df['age50'].astype(int)

In [ ]:
#가장 높은 퍼센티지의 값
high_list = []
for i in list(df.index):
  high_list.append(df.iloc[i].max())

high_list

In [ ]:
df['highest_age'] = df.T.idxmax() #열 중 가장 높은 값의 index(행번호) 호출. 그래서 T로 뒤집어서 진행한 후 다시 붙이기
df['high_score'] = high_list

In [ ]:
for i in range(0, len(df['highest_age'])):
  if df['high_score'][i] == 0:
    df['highest_age'][i] = None 
#idxmax가 같은 값이면 먼저 나오는 값을 주기 때문에 모두가 0인 경우(집계없는 경우)에는 highest_age도 없애기

In [ ]:
df_age_percentages= df[['high_score', 'highest_age']] # 나이별 세부정보 제외
df_age_percentages.rename(columns={'high_score':'highest_percentages'}, inplace=True) #이해하기 쉽도록 컬럼명 변경
df_age_percentages

In [ ]:
# csv로 저장
df_age_percentages.to_csv('movie_age_percentages_cleaned.csv', index=False)

In [ ]:
# 스태프-각본
# 다큐일 경우 각본가 대신 프로듀서가 처음으로 써져있는 경우가 있는데, 
# EDA하면서 '각본'이 아닌 경우 drop..? 
staff_list = []

for i in range(0,1999):
  code = df_added['code'][i]
  super_detail_url = f'{BASE_URL}/movie/bi/mi/detail.naver?code={code}'
  soup = get_page(super_detail_url)

  try: 
    soup.select_one('div.staff > table.staff_lst td > span')
  except:
    staff_list.append('none')
  else:
    staff_list.append(re.sub('[^가-힣]','',str(soup.select_one('div.staff > table.staff_lst td > span'))))

  time.sleep(1)

In [ ]:
df_scenario = pd.DataFrame({'writer':staff_list})

In [ ]:
df_scenario.to_csv('movie_writer.csv', index=False)

### 스크레이핑 완료, 데이터 정제
age의 경우 위에서 수집하면서 특성공학 함께 진행한 상태

In [ ]:
# 각 csv파일 가져오기
# df_movie: 영화 타이틀, 영화코드, 별점 정보('movie_ranking.csv')
# df_info: 영화 장르, 감독, 배우('movie_info.csv')
# df_writer: 영화 각본('movie_writer.csv')
# df_age: 해당 영화를 즐겨본 나이('movie_age_percentages_cleaned.csv')(range작게 넣어서 누락되었던 마지막 줄 추가한 파일)

In [ ]:
df_movie = pd.read_csv('movie_ranking.csv')
df_info = pd.read_csv('movie_info.csv')
df_writer = pd.read_csv('movie_writer.csv')
df_age = pd.read_csv('movie_age_percentages_cleaned.csv')

In [ ]:
df_info.info() 
# 비는 건 19금으로 로그인하고 인증 후 접근 가능..

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genre     1976 non-null   object
 1   director  1976 non-null   object
 2   actor     1976 non-null   object
dtypes: object(3)
memory usage: 47.0+ KB

In [ ]:
df_writer.info() #소규모 독립영화, 다큐멘터리영화의 경우 없을 수 있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   writer  1922 non-null   object
dtypes: object(1)
memory usage: 15.8+ KB

In [ ]:
m_df = pd.concat([df_movie, df_info, df_writer, df_age], axis=1)
m_df

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age
0,탑건: 매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,age30
1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,NaN,0,NaN
2,인생은 뷰티풀: 비타돌체,213364,9.66,공연실황,김선형,김호중,NaN,58,age50
3,할머니의 먼 집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,age20
4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,age20
...,...,...,...,...,...,...,...,...,...
1995,링컨 차를 타는 변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,NaN
1996,해피 데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,age20
1997,하트 오브 더 씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,age20
1998,기억의 밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,age20
1999,터미네이터: 미래전쟁의 시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,NaN

In [ ]:
m_df.to_csv('movie_nv.csv',index=False, encoding='UTF-8-sig')

In [ ]:
movie_df = pd.read_csv('movie_nv.csv')
movie_df

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age
0,탑건: 매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,age30
1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,NaN,0,NaN
2,인생은 뷰티풀: 비타돌체,213364,9.66,공연실황,김선형,김호중,NaN,58,age50
3,할머니의 먼 집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,age20
4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,age20
...,...,...,...,...,...,...,...,...,...
1995,링컨 차를 타는 변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,NaN
1996,해피 데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,age20
1997,하트 오브 더 씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,age20
1998,기억의 밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,age20
1999,터미네이터: 미래전쟁의 시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,NaN

In [ ]:
movie_df.describe(include='O')

          title genre director actor     writer highest_age
count      2000  1976     1976  1976       1922        1048
unique     1982    22     1224  1083       1393           5
top     천국의 아이들   드라마  스티븐스필버그  톰행크스  미야자키하야오각본       age20
freq          2   644       18    20         11         751

In [ ]:
movie_df[movie_df['code'].duplicated()]

Empty DataFrame
Columns: [title, code, stars, genre, director, actor, writer, highest_percentages, highest_age]
Index: []

In [ ]:
movie_df[movie_df['title']=='천국의 아이들']

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age
152,천국의 아이들,29571,9.28,드라마,마지드마지디,레자나지,마지드마지디각본,60,age20
1116,천국의 아이들,88474,8.70,드라마,박흥식,유다인,조정호프로듀서,0,NaN

In [ ]:
movie_df['title'] = movie_df['title'].str.replace(' ','')

In [ ]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                2000 non-null   object
 1   code                 2000 non-null   int64
 2   stars                2000 non-null   float64
 3   genre                1976 non-null   object
 4   director             1976 non-null   object
 5   actor                1976 non-null   object
 6   writer               1922 non-null   object
 7   highest_percentages  2000 non-null   int64
 8   highest_age          1048 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 140.8+ KB

In [ ]:
movie_df_dropped = movie_df.dropna(subset=['genre'])
# 성인인증 필요한 데이터 삭제

In [ ]:
movie_df_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1976 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                1976 non-null   object
 1   code                 1976 non-null   int64
 2   stars                1976 non-null   float64
 3   genre                1976 non-null   object
 4   director             1976 non-null   object
 5   actor                1976 non-null   object
 6   writer               1922 non-null   object
 7   highest_percentages  1976 non-null   int64
 8   highest_age          1048 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 154.4+ KB

In [ ]:
movie_df_none = movie_df_dropped.copy()
movie_df_none['writer'] = movie_df_dropped['writer'].fillna('None')
movie_df_none

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age
0,탑건:매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,age30
1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,None,0,NaN
2,인생은뷰티풀:비타돌체,213364,9.66,공연실황,김선형,김호중,None,58,age50
3,할머니의먼집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,age20
4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,age20
...,...,...,...,...,...,...,...,...,...
1995,링컨차를타는변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,NaN
1996,해피데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,age20
1997,하트오브더씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,age20
1998,기억의밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,age20
1999,터미네이터:미래전쟁의시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,NaN

In [ ]:
movie_df_not_s = movie_df_none.copy()
movie_df_not_s['highest_age'] = movie_df_none['highest_age'].fillna(0)
movie_df_not_s

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age
0,탑건:매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,age30
1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,None,0,0
2,인생은뷰티풀:비타돌체,213364,9.66,공연실황,김선형,김호중,None,58,age50
3,할머니의먼집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,age20
4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,age20
...,...,...,...,...,...,...,...,...,...
1995,링컨차를타는변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,0
1996,해피데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,age20
1997,하트오브더씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,age20
1998,기억의밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,age20
1999,터미네이터:미래전쟁의시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,0

In [ ]:
movie_df_not_s = movie_df_not_s.replace({'highest_age':'age10'}, 10)
movie_df_not_s = movie_df_not_s.replace({'highest_age':'age20'}, 20)
movie_df_not_s = movie_df_not_s.replace({'highest_age':'age30'}, 30)
movie_df_not_s = movie_df_not_s.replace({'highest_age':'age40'}, 40)
movie_df_not_s = movie_df_not_s.replace({'highest_age':'age50'}, 50)
movie_df_not_s

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age
0,탑건:매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,30
1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,None,0,0
2,인생은뷰티풀:비타돌체,213364,9.66,공연실황,김선형,김호중,None,58,50
3,할머니의먼집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,20
4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,20
...,...,...,...,...,...,...,...,...,...
1995,링컨차를타는변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,0
1996,해피데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,20
1997,하트오브더씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,20
1998,기억의밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,20
1999,터미네이터:미래전쟁의시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,0

In [ ]:
movie_df_not_s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1976 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   title                1976 non-null   object
 1   code                 1976 non-null   int64
 2   stars                1976 non-null   float64
 3   genre                1976 non-null   object
 4   director             1976 non-null   object
 5   actor                1976 non-null   object
 6   writer               1976 non-null   object
 7   highest_percentages  1976 non-null   int64
 8   highest_age          1976 non-null   int64
dtypes: float64(1), int64(3), object(5)
memory usage: 154.4+ KB

In [ ]:
df=movie_df_not_s

In [ ]:
df.to_csv('movie_df_cleaned.csv', index=False, encoding='UTF-8-sig')

### 파일 내 데이터 인덱스 정리, Bag of Words 만들어주기

In [ ]:
df = pd.read_csv('movie_df_cleaned.csv')
df

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age
0,탑건:매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,30
1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,None,0,0
2,인생은뷰티풀:비타돌체,213364,9.66,공연실황,김선형,김호중,None,58,50
3,할머니의먼집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,20
4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,20
...,...,...,...,...,...,...,...,...,...
1971,링컨차를타는변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,0
1972,해피데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,20
1973,하트오브더씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,20
1974,기억의밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,20
1975,터미네이터:미래전쟁의시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,0

In [ ]:
df.reset_index()
# 성인인증 삭제하면서 인덱스 비는 번호 생김

,index,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age
0,0,탑건:매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,30
1,1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,None,0,0
2,2,인생은뷰티풀:비타돌체,213364,9.66,공연실황,김선형,김호중,None,58,50
3,3,할머니의먼집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,20
4,4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,20
...,...,...,...,...,...,...,...,...,...,...
1971,1971,링컨차를타는변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,0
1972,1972,해피데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,20
1973,1973,하트오브더씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,20
1974,1974,기억의밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,20
1975,1975,터미네이터:미래전쟁의시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,0

In [ ]:
def create_soup(x):
  return x['genre']+' '+x['director']+' '+x['actor']+' '+x['writer']
df['soup'] = df.apply(create_soup, axis=1)
df

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age,soup
0,탑건:매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,30,액션 조셉코신스키 톰크루즈 피터크레이그각본
1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,None,0,0,애니메이션 서지오파블로스 제이슨슈왈츠먼 None
2,인생은뷰티풀:비타돌체,213364,9.66,공연실황,김선형,김호중,None,58,50,공연실황 김선형 김호중 None
3,할머니의먼집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,20,다큐멘터리 이소현 박삼순 안보영프로듀서
4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,20,다큐멘터리 박혜령 임지호 엄정화프로듀서
...,...,...,...,...,...,...,...,...,...,...
1971,링컨차를타는변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,0,범죄 브래드퍼맨 매튜맥커너히 존로마노각본
1972,해피데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,20,미스터리 크리스토퍼랜던 제시카로테 스콧로브델각본
1973,하트오브더씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,20,액션 론하워드 크리스헴스워스 찰스리빗각본
1974,기억의밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,20,미스터리 장항준 강하늘 장항준각본
1975,터미네이터:미래전쟁의시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,0,SF 맥지 크리스찬베일 존브란카토각본

In [ ]:
df.to_csv('movie_df_soup.csv', index=False, encoding='UTF-8-sig')

### 단어 벡터라이즈, 단어유사도 구하기

In [ ]:
# #한국어 토크나이저
# !pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 52.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.8/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.8/dist-packages (from konlpy) (4.9.2)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.1-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.6/465.6 KB 39.7 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from JPype1>=0.7.0->konlpy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging->JPype1>=0.7.0->konlpy) (3.0.9)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.1 konlpy-0.6.0

In [ ]:
# from konlpy.tag import Okt
# okt=Okt()

# countervectorizer가 영어에 최적화되어 있어 한국어 분석 패키지 써야하나 했는데, 조사 등의 제거가 불필요한 단어 단위의 데이터이고, countvectorizer가 잘 동작했다.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer()
count_matrix = count.fit_transform(df['soup'])
count_matrix

<1976x3690 sparse matrix of type '<class 'numpy.int64'>'
	with 8022 stored elements in Compressed Sparse Row format>

In [ ]:
# 단어 유사도 비교
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.  , 0.  , 0.  , ..., 0.25, 0.  , 0.  ],
       [0.  , 1.  , 0.25, ..., 0.  , 0.  , 0.  ],
       [0.  , 0.25, 1.  , ..., 0.  , 0.  , 0.  ],
       ...,
       [0.25, 0.  , 0.  , ..., 1.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , ..., 0.  , 1.  , 0.  ],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 1.  ]])

In [ ]:
cosine_sim.shape

(1976, 1976)

In [ ]:
indices = pd.Series(df.index, index=df['title'])
indices

title
탑건:매버릭              0
클라우스                1
인생은뷰티풀:비타돌체         2
할머니의먼집              3
밥정                  4
                 ...
링컨차를타는변호사        1971
해피데스데이           1972
하트오브더씨           1973
기억의밤             1974
터미네이터:미래전쟁의시작    1975
Length: 1976, dtype: int64

In [ ]:
indices['소원'] # 영화제목으로 인덱스 호출

102

In [ ]:
df.iloc[[102]] # 인덱스로 정보 호출

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age,soup
102,소원,103535,9.33,드라마,이준익,설경구,김지혜각본,0,0,드라마 이준익 설경구 김지혜각본

### 영화추천 함수

In [ ]:
# 영화의 제목을 입력받으면 코사인 유사도를 통해 가장 유사도가 높은 상위 3개의 영화 목록 반환
def get_recommendations(title, cosine_sim=cosine_sim):
  # 영화 제목을 통해서 전체 데이터 기준 그 영화의 index값 얻기
  idx = indices[title]
  # 코사인 유사도 매트릭스(cosine_sim)에서 idx(영화[102])에 해당하는 데이터를 (idx, 유사도)형태(enumerate)로 얻기
  sim_scores = list(enumerate(cosine_sim[idx]))
  # 유사도 기준 내림차순하여 가장 유사도가 큰 영화
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) #람다, x의 [1]번째 반환
  # 첫번째[0]인 1값은 자기자신으로 제외
  sim_scores = sim_scores[1:4]
  # idx,유사도값만 보이므로 idx로 영화 제목 가져오기
  movie_indices = [i[0] for i in sim_scores]
  
  return df['title'].iloc[movie_indices]

In [ ]:
list(enumerate(cosine_sim[102])) # 코사인 유사도 매트릭스(cosine_sim)에서 idx(영화[102])에 해당하는 데이터를 (idx, 유사도)형태(enumerate)로 얻기

[(0, 0.0),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.25),
 (6, 0.25),
 (7, 0.0),
 (8, 0.25),
 (9, 0.25),
 (10, 0.0),
 (11, 0.0),
 (12, 0.25),
 (13, 0.0),
 (14, 0.25),
 (15, 0.0),
 (16, 0.0),
 (17, 0.25),
 (18, 0.0),
 (19, 0.25),
 (20, 0.0),
 (21, 0.0),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (26, 0.0),
 (27, 0.0),
 (28, 0.25),
 (29, 0.25),
 (30, 0.0),
 (31, 0.0),
 (32, 0.25),
 (33, 0.0),
 (34, 0.20412414523193154),
 (35, 0.0),
 (36, 0.0),
 (37, 0.25),
 (38, 0.25),
 (39, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (43, 0.25),
 (44, 0.0),
 (45, 0.0),
 (46, 0.25),
 (47, 0.22360679774997896),
 (48, 0.0),
 (49, 0.25),
 (50, 0.0),
 (51, 0.0),
 (52, 0.25),
 (53, 0.0),
 (54, 0.25),
 (55, 0.0),
 (56, 0.5),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (62, 0.0),
 (63, 0.25),
 (64, 0.25),
 (65, 0.0),
 (66, 0.25),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.75),
 (73, 0.0),
 (74, 0.0),
 (75, 0.0),
 (76, 0.0),
 (77, 0.25),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (81, 0.25),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (87, 0.0),
 (88, 0.0),
 (89, 0.25),
 (90, 0.25),
 (91, 0.25),
 (92, 0.0),
 (93, 0.0),
 (94, 0.25),
 (95, 0.25),
 (96, 0.0),
 (97, 0.0),
 (98, 0.25),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (102, 1.0),
 (103, 0.0),
 (104, 0.0),
 (105, 0.0),
 (106, 0.0),
 (107, 0.0),
 (108, 0.25),
 (109, 0.0),
 (110, 0.25),
 (111, 0.0),
 (112, 0.25),
 (113, 0.0),
 (114, 0.25),
 (115, 0.0),
 (116, 0.25),
 (117, 0.0),
 (118, 0.0),
 (119, 0.0),
 (120, 0.0),
 (121, 0.0),
 (122, 0.0),
 (123, 0.25),
 (124, 0.0),
 (125, 0.22360679774997896),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.25),
 (136, 0.25),
 (137, 0.25),
 (138, 0.0),
 (139, 0.0),
 (140, 0.25),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.25),
 (145, 0.0),
 (146, 0.0),
 (147, 0.25),
 (148, 0.0),
 (149, 0.25),
 (150, 0.0),
 (151, 0.0),
 (152, 0.25),
 (153, 0.25),
 (154, 0.0),
 (155, 0.0),
 (156, 0.0),
 (157, 0.0),
 (158, 0.25),
 (159, 0.25),
 (160, 0.25),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.25),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (170, 0.25),
 (171, 0.25),
 (172, 0.0),
 (173, 0.0),
 (174, 0.25),
 (175, 0.25),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (185, 0.0),
 (186, 0.25),
 (187, 0.25),
 (188, 0.0),
 (189, 0.25),
 (190, 0.0),
 (191, 0.0),
 (192, 0.0),
 (193, 0.25),
 (194, 0.25),
 (195, 0.0),
 (196, 0.25),
 (197, 0.25),
 (198, 0.22360679774997896),
 (199, 0.25),
 (200, 0.25),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.25),
 (205, 0.25),
 (206, 0.25),
 (207, 0.0),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.0),
 (214, 0.25),
 (215, 0.0),
 (216, 0.0),
 (217, 0.25),
 (218, 0.0),
 (219, 0.25),
 (220, 0.25),
 (221, 0.0),
 (222, 0.25),
 (223, 0.25),
 (224, 0.25),
 (225, 0.0),
 (226, 0.0),
 (227, 0.0),
 (228, 0.0),
 (229, 0.25),
 (230, 0.0),
 (231, 0.0),
 (232, 0.25),
 (233, 0.0),
 (234, 0.25),
 (235, 0.0),
 (236, 0.0),
 (237, 0.0),
 (238, 0.0),
 (239, 0.25),
 (240, 0.0),
 (241, 0.20412414523193154),
 (242, 0.25),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.0),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.25),
 (258, 0.0),
 (259, 0.0),
 (260, 0.25),
 (261, 0.0),
 (262, 0.0),
 (263, 0.25),
 (264, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.0),
 (268, 0.20412414523193154),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.0),
 (275, 0.25),
 (276, 0.0),
 (277, 0.0),
 (278, 0.25),
 (279, 0.0),
 (280, 0.0),
 (281, 0.0),
 (282, 0.25),
 (283, 0.0),
 (284, 0.0),
 (285, 0.25),
 (286, 0.25),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.25),
 (293, 0.0),
 (294, 0.25),
 (295, 0.25),
 (296, 0.25),
 (297, 0.25),
 (298, 0.25),
 (299, 0.25),
 (300, 0.0),
 (301, 0.25),
 (302, 0.0),
 (303, 0.0),
 (304, 0.25),
 (305, 0.0),
 (306, 0.0),
 (307, 0.20412414523193154),
 (308, 0.5),
 (309, 0.0),
 (310, 0.0),
 (311, 0.25),
 (312, 0.0),
 (313, 0.0),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.22360679774997896),
 (319, 0.25),
 (320, 0.0),
 (321, 0.25),
 (322, 0.25),
 (323, 0.25),
 (324, 0.0),
 (325, 0.0),
 (326, 0.0),
 (327, 0.0),
 (328, 0.25),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (332, 0.25),
 (333, 0.0),
 (334, 0.25),
 (335, 0.0),
 (336, 0.25),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (340, 0.0),
 (341, 0.0),
 (342, 0.0),
 (343, 0.0),
 (344, 0.25),
 (345, 0.0),
 (346, 0.0),
 (347, 0.25),
 (348, 0.25),
 (349, 0.0),
 (350, 0.0),
 (351, 0.25),
 (352, 0.0),
 (353, 0.25),
 (354, 0.0),
 (355, 0.0),
 (356, 0.0),
 (357, 0.0),
 (358, 0.25),
 (359, 0.25),
 (360, 0.25),
 (361, 0.0),
 (362, 0.25),
 (363, 0.25),
 (364, 0.0),
 (365, 0.25),
 (366, 0.25),
 (367, 0.0),
 (368, 0.0),
 (369, 0.0),
 (370, 0.0),
 (371, 0.25),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (379, 0.25),
 (380, 0.0),
 (381, 0.0),
 (382, 0.25),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (396, 0.25),
 (397, 0.0),
 (398, 0.25),
 (399, 0.0),
 (400, 0.0),
 (401, 0.0),
 (402, 0.0),
 (403, 0.0),
 (404, 0.0),
 (405, 0.0),
 (406, 0.0),
 (407, 0.0),
 (408, 0.0),
 (409, 0.0),
 (410, 0.25),
 (411, 0.0),
 (412, 0.25),
 (413, 0.25),
 (414, 0.0),
 (415, 0.25),
 (416, 0.0),
 (417, 0.0),
 (418, 0.25),
 (419, 0.0),
 (420, 0.0),
 (421, 0.25),
 (422, 0.25),
 (423, 0.25),
 (424, 0.0),
 (425, 0.0),
 (426, 0.0),
 (427, 0.25),
 (428, 0.0),
 (429, 0.0),
 (430, 0.0),
 (431, 0.0),
 (432, 0.25),
 (433, 0.0),
 (434, 0.0),
 (435, 0.25),
 (436, 0.0),
 (437, 0.0),
 (438, 0.0),
 (439, 0.25),
 (440, 0.25),
 (441, 0.0),
 (442, 0.25),
 (443, 0.0),
 (444, 0.20412414523193154),
 (445, 0.25),
 (446, 0.0),
 (447, 0.0),
 (448, 0.0),
 (449, 0.25),
 (450, 0.25),
 (451, 0.0),
 (452, 0.25),
 (453, 0.0),
 (454, 0.0),
 (455, 0.0),
 (456, 0.0),
 (457, 0.0),
 (458, 0.0),
 (459, 0.25),
 (460, 0.0),
 (461, 0.0),
 (462, 0.25),
 (463, 0.0),
 (464, 0.0),
 (465, 0.25),
 (466, 0.0),
 (467, 0.0),
 (468, 0.0),
 (469, 0.25),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0),
 (473, 0.0),
 (474, 0.0),
 (475, 0.0),
 (476, 0.0),
 (477, 0.25),
 (478, 0.0),
 (479, 0.0),
 (480, 0.0),
 (481, 0.25),
 (482, 0.0),
 (483, 0.25),
 (484, 0.0),
 (485, 0.0),
 (486, 0.25),
 (487, 0.0),
 (488, 0.0),
 (489, 0.0),
 (490, 0.0),
 (491, 0.25),
 (492, 0.0),
 (493, 0.25),
 (494, 0.25),
 (495, 0.0),
 (496, 0.25),
 (497, 0.25),
 (498, 0.0),
 (499, 0.0),
 (500, 0.5),
 (501, 0.22360679774997896),
 (502, 0.25),
 (503, 0.0),
 (504, 0.0),
 (505, 0.0),
 (506, 0.0),
 (507, 0.0),
 (508, 0.0),
 (509, 0.0),
 (510, 0.0),
 (511, 0.25),
 (512, 0.25),
 (513, 0.0),
 (514, 0.25),
 (515, 0.0),
 (516, 0.25),
 (517, 0.25),
 (518, 0.0),
 (519, 0.25),
 (520, 0.0),
 (521, 0.0),
 (522, 0.25),
 (523, 0.25),
 (524, 0.0),
 (525, 0.0),
 (526, 0.25),
 (527, 0.0),
 (528, 0.0),
 (529, 0.25),
 (530, 0.0),
 (531, 0.22360679774997896),
 (532, 0.0),
 (533, 0.25),
 (534, 0.0),
 (535, 0.0),
 (536, 0.0),
 (537, 0.0),
 (538, 0.0),
 (539, 0.0),
 (540, 0.0),
 (541, 0.0),
 (542, 0.0),
 (543, 0.0),
 (544, 0.25),
 (545, 0.25),
 (546, 0.0),
 (547, 0.0),
 (548, 0.0),
 (549, 0.0),
 (550, 0.0),
 (551, 0.25),
 (552, 0.25),
 (553, 0.25),
 (554, 0.0),
 (555, 0.25),
 (556, 0.25),
 (557, 0.25),
 (558, 0.0),
 (559, 0.0),
 (560, 0.0),
 (561, 0.0),
 (562, 0.25),
 (563, 0.0),
 (564, 0.0),
 (565, 0.0),
 (566, 0.25),
 (567, 0.25),
 (568, 0.25),
 (569, 0.0),
 (570, 0.0),
 (571, 0.0),
 (572, 0.0),
 (573, 0.0),
 (574, 0.0),
 (575, 0.0),
 (576, 0.25),
 (577, 0.0),
 (578, 0.0),
 (579, 0.25),
 (580, 0.25),
 (581, 0.0),
 (582, 0.0),
 (583, 0.5),
 (584, 0.25),
 (585, 0.25),
 (586, 0.25),
 (587, 0.25),
 (588, 0.25),
 (589, 0.0),
 (590, 0.25),
 (591, 0.25),
 (592, 0.25),
 (593, 0.25),
 (594, 0.0),
 (595, 0.0),
 (596, 0.25),
 (597, 0.0),
 (598, 0.25),
 (599, 0.0),
 (600, 0.25),
 (601, 0.0),
 (602, 0.0),
 (603, 0.0),
 (604, 0.25),
 (605, 0.0),
 (606, 0.25),
 (607, 0.25),
 (608, 0.0),
 (609, 0.0),
 (610, 0.0),
 (611, 0.25),
 (612, 0.25),
 (613, 0.25),
 (614, 0.0),
 (615, 0.0),
 (616, 0.0),
 (617, 0.0),
 (618, 0.0),
 (619, 0.25),
 (620, 0.0),
 (621, 0.0),
 (622, 0.0),
 (623, 0.0),
 (624, 0.25),
 (625, 0.0),
 (626, 0.0),
 (627, 0.0),
 (628, 0.0),
 (629, 0.0),
 (630, 0.0),
 (631, 0.0),
 (632, 0.0),
 (633, 0.0),
 (634, 0.25),
 (635, 0.0),
 (636, 0.0),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.0),
 (641, 0.25),
 (642, 0.0),
 (643, 0.0),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0),
 (647, 0.0),
 (648, 0.25),
 (649, 0.0),
 (650, 0.25),
 (651, 0.25),
 (652, 0.0),
 (653, 0.0),
 (654, 0.0),
 (655, 0.0),
 (656, 0.25),
 (657, 0.0),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.25),
 (662, 0.25),
 (663, 0.0),
 (664, 0.0),
 (665, 0.25),
 (666, 0.0),
 (667, 0.0),
 (668, 0.0),
 (669, 0.0),
 (670, 0.0),
 (671, 0.0),
 (672, 0.25),
 (673, 0.0),
 (674, 0.0),
 (675, 0.0),
 (676, 0.25),
 (677, 0.25),
 (678, 0.25),
 (679, 0.0),
 (680, 0.0),
 (681, 0.0),
 (682, 0.25),
 (683, 0.0),
 (684, 0.25),
 (685, 0.0),
 (686, 0.25),
 (687, 0.25),
 (688, 0.0),
 (689, 0.25),
 (690, 0.0),
 (691, 0.0),
 (692, 0.0),
 (693, 0.25),
 (694, 0.0),
 (695, 0.0),
 (696, 0.0),
 (697, 0.22360679774997896),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0),
 (702, 0.25),
 (703, 0.0),
 (704, 0.0),
 (705, 0.25),
 (706, 0.0),
 (707, 0.0),
 (708, 0.0),
 (709, 0.25),
 (710, 0.25),
 (711, 0.25),
 (712, 0.0),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.25),
 (718, 0.0),
 (719, 0.25),
 (720, 0.0),
 (721, 0.25),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.25),
 (726, 0.0),
 (727, 0.25),
 (728, 0.0),
 (729, 0.25),
 (730, 0.25),
 (731, 0.25),
 (732, 0.0),
 (733, 0.0),
 (734, 0.0),
 (735, 0.0),
 (736, 0.0),
 (737, 0.0),
 (738, 0.0),
 (739, 0.0),
 (740, 0.0),
 (741, 0.25),
 (742, 0.25),
 (743, 0.0),
 (744, 0.0),
 (745, 0.0),
 (746, 0.0),
 (747, 0.0),
 (748, 0.0),
 (749, 0.0),
 (750, 0.25),
 (751, 0.0),
 (752, 0.0),
 (753, 0.0),
 (754, 0.0),
 (755, 0.25),
 (756, 0.25),
 (757, 0.0),
 (758, 0.0),
 (759, 0.0),
 (760, 0.0),
 (761, 0.0),
 (762, 0.0),
 (763, 0.25),
 (764, 0.0),
 (765, 0.25),
 (766, 0.0),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.0),
 (771, 0.25),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.0),
 (776, 0.0),
 (777, 0.0),
 (778, 0.0),
 (779, 0.25),
 (780, 0.25),
 (781, 0.25),
 (782, 0.25),
 (783, 0.0),
 (784, 0.0),
 (785, 0.25),
 (786, 0.0),
 (787, 0.0),
 (788, 0.0),
 (789, 0.0),
 (790, 0.0),
 (791, 0.0),
 (792, 0.0),
 (793, 0.25),
 (794, 0.0),
 (795, 0.0),
 (796, 0.0),
 (797, 0.0),
 (798, 0.0),
 (799, 0.0),
 (800, 0.0),
 (801, 0.0),
 (802, 0.0),
 (803, 0.25),
 (804, 0.25),
 (805, 0.0),
 (806, 0.0),
 (807, 0.25),
 (808, 0.0),
 (809, 0.0),
 (810, 0.0),
 (811, 0.0),
 (812, 0.0),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.25),
 (817, 0.0),
 (818, 0.25),
 (819, 0.25),
 (820, 0.0),
 (821, 0.0),
 (822, 0.0),
 (823, 0.0),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.0),
 (829, 0.25),
 (830, 0.0),
 (831, 0.25),
 (832, 0.25),
 (833, 0.0),
 (834, 0.0),
 (835, 0.0),
 (836, 0.0),
 (837, 0.0),
 (838, 0.25),
 (839, 0.0),
 (840, 0.25),
 (841, 0.0),
 (842, 0.0),
 (843, 0.25),
 (844, 0.0),
 (845, 0.0),
 (846, 0.25),
 (847, 0.25),
 (848, 0.0),
 (849, 0.0),
 (850, 0.25),
 (851, 0.0),
 (852, 0.25),
 (853, 0.0),
 (854, 0.0),
 (855, 0.22360679774997896),
 (856, 0.0),
 (857, 0.20412414523193154),
 (858, 0.0),
 (859, 0.25),
 (860, 0.0),
 (861, 0.25),
 (862, 0.0),
 (863, 0.25),
 (864, 0.20412414523193154),
 (865, 0.25),
 (866, 0.0),
 (867, 0.0),
 (868, 0.20412414523193154),
 (869, 0.0),
 (870, 0.25),
 (871, 0.0),
 (872, 0.0),
 (873, 0.0),
 (874, 0.0),
 (875, 0.0),
 (876, 0.0),
 (877, 0.25),
 (878, 0.0),
 (879, 0.25),
 (880, 0.0),
 (881, 0.25),
 (882, 0.25),
 (883, 0.25),
 (884, 0.25),
 (885, 0.25),
 (886, 0.25),
 (887, 0.0),
 (888, 0.0),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.25),
 (893, 0.25),
 (894, 0.0),
 (895, 0.25),
 (896, 0.0),
 (897, 0.0),
 (898, 0.25),
 (899, 0.0),
 (900, 0.25),
 (901, 0.0),
 (902, 0.0),
 (903, 0.0),
 (904, 0.0),
 (905, 0.25),
 (906, 0.0),
 (907, 0.25),
 (908, 0.25),
 (909, 0.25),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.25),
 (914, 0.25),
 (915, 0.0),
 (916, 0.25),
 (917, 0.25),
 (918, 0.0),
 (919, 0.0),
 (920, 0.0),
 (921, 0.25),
 (922, 0.0),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.25),
 (931, 0.25),
 (932, 0.0),
 (933, 0.25),
 (934, 0.25),
 (935, 0.0),
 (936, 0.0),
 (937, 0.25),
 (938, 0.25),
 (939, 0.0),
 (940, 0.0),
 (941, 0.0),
 (942, 0.0),
 (943, 0.0),
 (944, 0.25),
 (945, 0.25),
 (946, 0.0),
 (947, 0.0),
 (948, 0.25),
 (949, 0.25),
 (950, 0.25),
 (951, 0.0),
 (952, 0.0),
 (953, 0.0),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.0),
 (958, 0.0),
 (959, 0.25),
 (960, 0.0),
 (961, 0.0),
 (962, 0.25),
 (963, 0.0),
 (964, 0.0),
 (965, 0.0),
 (966, 0.25),
 (967, 0.0),
 (968, 0.0),
 (969, 0.0),
 (970, 0.25),
 (971, 0.0),
 (972, 0.25),
 (973, 0.0),
 (974, 0.25),
 (975, 0.0),
 (976, 0.0),
 (977, 0.25),
 (978, 0.0),
 (979, 0.0),
 (980, 0.0),
 (981, 0.0),
 (982, 0.0),
 (983, 0.0),
 (984, 0.0),
 (985, 0.25),
 (986, 0.25),
 (987, 0.0),
 (988, 0.25),
 (989, 0.0),
 (990, 0.0),
 (991, 0.25),
 (992, 0.0),
 (993, 0.0),
 (994, 0.25),
 (995, 0.25),
 (996, 0.0),
 (997, 0.25),
 (998, 0.0),
 (999, 0.0),
 ...]

In [ ]:
sorted(sim_sc, key=lambda x: x[1], reverse=True)

[(102, 1.0),
 (72, 0.75),
 (56, 0.5),
 (308, 0.5),
 (500, 0.5),
 (583, 0.5),
 (1792, 0.5),
 (1936, 0.5),
 (1757, 0.2886751345948129),
 (5, 0.25),
 (6, 0.25),
 (8, 0.25),
 (9, 0.25),
 (12, 0.25),
 (14, 0.25),
 (17, 0.25),
 (19, 0.25),
 (28, 0.25),
 (29, 0.25),
 (32, 0.25),
 (37, 0.25),
 (38, 0.25),
 (43, 0.25),
 (46, 0.25),
 (49, 0.25),
 (52, 0.25),
 (54, 0.25),
 (63, 0.25),
 (64, 0.25),
 (66, 0.25),
 (77, 0.25),
 (81, 0.25),
 (89, 0.25),
 (90, 0.25),
 (91, 0.25),
 (94, 0.25),
 (95, 0.25),
 (98, 0.25),
 (108, 0.25),
 (110, 0.25),
 (112, 0.25),
 (114, 0.25),
 (116, 0.25),
 (123, 0.25),
 (135, 0.25),
 (136, 0.25),
 (137, 0.25),
 (140, 0.25),
 (144, 0.25),
 (147, 0.25),
 (149, 0.25),
 (152, 0.25),
 (153, 0.25),
 (158, 0.25),
 (159, 0.25),
 (160, 0.25),
 (164, 0.25),
 (170, 0.25),
 (171, 0.25),
 (174, 0.25),
 (175, 0.25),
 (186, 0.25),
 (187, 0.25),
 (189, 0.25),
 (193, 0.25),
 (194, 0.25),
 (196, 0.25),
 (197, 0.25),
 (199, 0.25),
 (200, 0.25),
 (204, 0.25),
 (205, 0.25),
 (206, 0.25),
 (214, 0.25),
 (217, 0.25),
 (219, 0.25),
 (220, 0.25),
 (222, 0.25),
 (223, 0.25),
 (224, 0.25),
 (229, 0.25),
 (232, 0.25),
 (234, 0.25),
 (239, 0.25),
 (242, 0.25),
 (257, 0.25),
 (260, 0.25),
 (263, 0.25),
 (275, 0.25),
 (278, 0.25),
 (282, 0.25),
 (285, 0.25),
 (286, 0.25),
 (292, 0.25),
 (294, 0.25),
 (295, 0.25),
 (296, 0.25),
 (297, 0.25),
 (298, 0.25),
 (299, 0.25),
 (301, 0.25),
 (304, 0.25),
 (311, 0.25),
 (319, 0.25),
 (321, 0.25),
 (322, 0.25),
 (323, 0.25),
 (328, 0.25),
 (332, 0.25),
 (334, 0.25),
 (336, 0.25),
 (344, 0.25),
 (347, 0.25),
 (348, 0.25),
 (351, 0.25),
 (353, 0.25),
 (358, 0.25),
 (359, 0.25),
 (360, 0.25),
 (362, 0.25),
 (363, 0.25),
 (365, 0.25),
 (366, 0.25),
 (371, 0.25),
 (379, 0.25),
 (382, 0.25),
 (396, 0.25),
 (398, 0.25),
 (410, 0.25),
 (412, 0.25),
 (413, 0.25),
 (415, 0.25),
 (418, 0.25),
 (421, 0.25),
 (422, 0.25),
 (423, 0.25),
 (427, 0.25),
 (432, 0.25),
 (435, 0.25),
 (439, 0.25),
 (440, 0.25),
 (442, 0.25),
 (445, 0.25),
 (449, 0.25),
 (450, 0.25),
 (452, 0.25),
 (459, 0.25),
 (462, 0.25),
 (465, 0.25),
 (469, 0.25),
 (477, 0.25),
 (481, 0.25),
 (483, 0.25),
 (486, 0.25),
 (491, 0.25),
 (493, 0.25),
 (494, 0.25),
 (496, 0.25),
 (497, 0.25),
 (502, 0.25),
 (511, 0.25),
 (512, 0.25),
 (514, 0.25),
 (516, 0.25),
 (517, 0.25),
 (519, 0.25),
 (522, 0.25),
 (523, 0.25),
 (526, 0.25),
 (529, 0.25),
 (533, 0.25),
 (544, 0.25),
 (545, 0.25),
 (551, 0.25),
 (552, 0.25),
 (553, 0.25),
 (555, 0.25),
 (556, 0.25),
 (557, 0.25),
 (562, 0.25),
 (566, 0.25),
 (567, 0.25),
 (568, 0.25),
 (576, 0.25),
 (579, 0.25),
 (580, 0.25),
 (584, 0.25),
 (585, 0.25),
 (586, 0.25),
 (587, 0.25),
 (588, 0.25),
 (590, 0.25),
 (591, 0.25),
 (592, 0.25),
 (593, 0.25),
 (596, 0.25),
 (598, 0.25),
 (600, 0.25),
 (604, 0.25),
 (606, 0.25),
 (607, 0.25),
 (611, 0.25),
 (612, 0.25),
 (613, 0.25),
 (619, 0.25),
 (624, 0.25),
 (634, 0.25),
 (641, 0.25),
 (648, 0.25),
 (650, 0.25),
 (651, 0.25),
 (656, 0.25),
 (661, 0.25),
 (662, 0.25),
 (665, 0.25),
 (672, 0.25),
 (676, 0.25),
 (677, 0.25),
 (678, 0.25),
 (682, 0.25),
 (684, 0.25),
 (686, 0.25),
 (687, 0.25),
 (689, 0.25),
 (693, 0.25),
 (702, 0.25),
 (705, 0.25),
 (709, 0.25),
 (710, 0.25),
 (711, 0.25),
 (717, 0.25),
 (719, 0.25),
 (721, 0.25),
 (725, 0.25),
 (727, 0.25),
 (729, 0.25),
 (730, 0.25),
 (731, 0.25),
 (741, 0.25),
 (742, 0.25),
 (750, 0.25),
 (755, 0.25),
 (756, 0.25),
 (763, 0.25),
 (765, 0.25),
 (771, 0.25),
 (779, 0.25),
 (780, 0.25),
 (781, 0.25),
 (782, 0.25),
 (785, 0.25),
 (793, 0.25),
 (803, 0.25),
 (804, 0.25),
 (807, 0.25),
 (816, 0.25),
 (818, 0.25),
 (819, 0.25),
 (829, 0.25),
 (831, 0.25),
 (832, 0.25),
 (838, 0.25),
 (840, 0.25),
 (843, 0.25),
 (846, 0.25),
 (847, 0.25),
 (850, 0.25),
 (852, 0.25),
 (859, 0.25),
 (861, 0.25),
 (863, 0.25),
 (865, 0.25),
 (870, 0.25),
 (877, 0.25),
 (879, 0.25),
 (881, 0.25),
 (882, 0.25),
 (883, 0.25),
 (884, 0.25),
 (885, 0.25),
 (886, 0.25),
 (892, 0.25),
 (893, 0.25),
 (895, 0.25),
 (898, 0.25),
 (900, 0.25),
 (905, 0.25),
 (907, 0.25),
 (908, 0.25),
 (909, 0.25),
 (913, 0.25),
 (914, 0.25),
 (916, 0.25),
 (917, 0.25),
 (921, 0.25),
 (930, 0.25),
 (931, 0.25),
 (933, 0.25),
 (934, 0.25),
 (937, 0.25),
 (938, 0.25),
 (944, 0.25),
 (945, 0.25),
 (948, 0.25),
 (949, 0.25),
 (950, 0.25),
 (959, 0.25),
 (962, 0.25),
 (966, 0.25),
 (970, 0.25),
 (972, 0.25),
 (974, 0.25),
 (977, 0.25),
 (985, 0.25),
 (986, 0.25),
 (988, 0.25),
 (991, 0.25),
 (994, 0.25),
 (995, 0.25),
 (997, 0.25),
 (1000, 0.25),
 (1004, 0.25),
 (1014, 0.25),
 (1016, 0.25),
 (1017, 0.25),
 (1020, 0.25),
 (1022, 0.25),
 (1026, 0.25),
 (1032, 0.25),
 (1034, 0.25),
 (1035, 0.25),
 (1036, 0.25),
 (1038, 0.25),
 (1040, 0.25),
 (1042, 0.25),
 (1044, 0.25),
 (1046, 0.25),
 (1047, 0.25),
 (1048, 0.25),
 (1054, 0.25),
 (1056, 0.25),
 (1060, 0.25),
 (1061, 0.25),
 (1066, 0.25),
 (1067, 0.25),
 (1069, 0.25),
 (1071, 0.25),
 (1072, 0.25),
 (1074, 0.25),
 (1082, 0.25),
 (1084, 0.25),
 (1085, 0.25),
 (1089, 0.25),
 (1095, 0.25),
 (1103, 0.25),
 (1105, 0.25),
 (1106, 0.25),
 (1109, 0.25),
 (1110, 0.25),
 (1116, 0.25),
 (1117, 0.25),
 (1118, 0.25),
 (1121, 0.25),
 (1127, 0.25),
 (1131, 0.25),
 (1137, 0.25),
 (1148, 0.25),
 (1155, 0.25),
 (1158, 0.25),
 (1159, 0.25),
 (1160, 0.25),
 (1162, 0.25),
 (1171, 0.25),
 (1172, 0.25),
 (1178, 0.25),
 (1179, 0.25),
 (1186, 0.25),
 (1189, 0.25),
 (1193, 0.25),
 (1194, 0.25),
 (1197, 0.25),
 (1200, 0.25),
 (1201, 0.25),
 (1206, 0.25),
 (1208, 0.25),
 (1211, 0.25),
 (1213, 0.25),
 (1215, 0.25),
 (1217, 0.25),
 (1223, 0.25),
 (1224, 0.25),
 (1228, 0.25),
 (1229, 0.25),
 (1231, 0.25),
 (1232, 0.25),
 (1234, 0.25),
 (1240, 0.25),
 (1241, 0.25),
 (1255, 0.25),
 (1258, 0.25),
 (1260, 0.25),
 (1262, 0.25),
 (1264, 0.25),
 (1268, 0.25),
 (1274, 0.25),
 (1275, 0.25),
 (1280, 0.25),
 (1283, 0.25),
 (1284, 0.25),
 (1285, 0.25),
 (1288, 0.25),
 (1291, 0.25),
 (1292, 0.25),
 (1294, 0.25),
 (1296, 0.25),
 (1298, 0.25),
 (1299, 0.25),
 (1301, 0.25),
 (1302, 0.25),
 (1303, 0.25),
 (1304, 0.25),
 (1309, 0.25),
 (1312, 0.25),
 (1318, 0.25),
 (1322, 0.25),
 (1327, 0.25),
 (1328, 0.25),
 (1329, 0.25),
 (1331, 0.25),
 (1338, 0.25),
 (1339, 0.25),
 (1341, 0.25),
 (1344, 0.25),
 (1345, 0.25),
 (1347, 0.25),
 (1355, 0.25),
 (1356, 0.25),
 (1357, 0.25),
 (1358, 0.25),
 (1360, 0.25),
 (1366, 0.25),
 (1367, 0.25),
 (1370, 0.25),
 (1371, 0.25),
 (1374, 0.25),
 (1378, 0.25),
 (1381, 0.25),
 (1383, 0.25),
 (1389, 0.25),
 (1392, 0.25),
 (1397, 0.25),
 (1399, 0.25),
 (1400, 0.25),
 (1401, 0.25),
 (1403, 0.25),
 (1404, 0.25),
 (1408, 0.25),
 (1414, 0.25),
 (1415, 0.25),
 (1422, 0.25),
 (1427, 0.25),
 (1432, 0.25),
 (1438, 0.25),
 (1442, 0.25),
 (1445, 0.25),
 (1446, 0.25),
 (1450, 0.25),
 (1452, 0.25),
 (1458, 0.25),
 (1460, 0.25),
 (1461, 0.25),
 (1464, 0.25),
 (1466, 0.25),
 (1467, 0.25),
 (1468, 0.25),
 (1471, 0.25),
 (1473, 0.25),
 (1475, 0.25),
 (1476, 0.25),
 (1478, 0.25),
 (1479, 0.25),
 (1481, 0.25),
 (1482, 0.25),
 (1486, 0.25),
 (1490, 0.25),
 (1493, 0.25),
 (1495, 0.25),
 (1506, 0.25),
 (1508, 0.25),
 (1512, 0.25),
 (1513, 0.25),
 (1523, 0.25),
 (1524, 0.25),
 (1530, 0.25),
 (1531, 0.25),
 (1536, 0.25),
 (1539, 0.25),
 (1540, 0.25),
 (1544, 0.25),
 (1545, 0.25),
 (1549, 0.25),
 (1551, 0.25),
 (1555, 0.25),
 (1560, 0.25),
 (1562, 0.25),
 (1568, 0.25),
 (1569, 0.25),
 (1571, 0.25),
 (1576, 0.25),
 (1577, 0.25),
 (1578, 0.25),
 (1580, 0.25),
 (1585, 0.25),
 (1587, 0.25),
 (1592, 0.25),
 (1594, 0.25),
 (1597, 0.25),
 (1598, 0.25),
 (1600, 0.25),
 (1602, 0.25),
 (1605, 0.25),
 (1607, 0.25),
 (1611, 0.25),
 (1612, 0.25),
 (1616, 0.25),
 (1618, 0.25),
 (1620, 0.25),
 (1621, 0.25),
 (1622, 0.25),
 (1624, 0.25),
 (1626, 0.25),
 (1627, 0.25),
 (1633, 0.25),
 (1634, 0.25),
 (1637, 0.25),
 (1638, 0.25),
 (1643, 0.25),
 (1650, 0.25),
 (1651, 0.25),
 (1653, 0.25),
 (1655, 0.25),
 (1656, 0.25),
 (1657, 0.25),
 (1669, 0.25),
 (1673, 0.25),
 (1674, 0.25),
 (1677, 0.25),
 (1685, 0.25),
 (1686, 0.25),
 (1691, 0.25),
 (1694, 0.25),
 (1696, 0.25),
 (1698, 0.25),
 (1702, 0.25),
 (1703, 0.25),
 (1707, 0.25),
 (1713, 0.25),
 (1715, 0.25),
 (1716, 0.25),
 (1717, 0.25),
 (1718, 0.25),
 (1724, 0.25),
 (1725, 0.25),
 (1726, 0.25),
 (1727, 0.25),
 (1728, 0.25),
 (1729, 0.25),
 (1735, 0.25),
 (1738, 0.25),
 (1752, 0.25),
 (1760, 0.25),
 (1761, 0.25),
 (1764, 0.25),
 (1776, 0.25),
 (1778, 0.25),
 (1781, 0.25),
 (1783, 0.25),
 (1787, 0.25),
 (1788, 0.25),
 (1789, 0.25),
 (1791, 0.25),
 (1795, 0.25),
 (1801, 0.25),
 (1806, 0.25),
 (1815, 0.25),
 (1816, 0.25),
 (1829, 0.25),
 (1830, 0.25),
 (1832, 0.25),
 (1839, 0.25),
 (1843, 0.25),
 (1845, 0.25),
 (1848, 0.25),
 (1853, 0.25),
 (1858, 0.25),
 (1861, 0.25),
 (1863, 0.25),
 (1865, 0.25),
 (1870, 0.25),
 (1871, 0.25),
 (1873, 0.25),
 (1876, 0.25),
 (1880, 0.25),
 (1881, 0.25),
 (1882, 0.25),
 (1885, 0.25),
 (1897, 0.25),
 (1898, 0.25),
 (1902, 0.25),
 (1903, 0.25),
 (1909, 0.25),
 (1911, 0.25),
 (1920, 0.25),
 (1923, 0.25),
 (1924, 0.25),
 (1926, 0.25),
 (1935, 0.25),
 (1941, 0.25),
 (1944, 0.25),
 (1949, 0.25),
 (1951, 0.25),
 (1955, 0.25),
 (1959, 0.25),
 (1961, 0.25),
 (1964, 0.25),
 (47, 0.22360679774997896),
 (125, 0.22360679774997896),
 (198, 0.22360679774997896),
 (318, 0.22360679774997896),
 (501, 0.22360679774997896),
 (531, 0.22360679774997896),
 (697, 0.22360679774997896),
 (855, 0.22360679774997896),
 (1031, 0.22360679774997896),
 (1063, 0.22360679774997896),
 (1083, 0.22360679774997896),
 (1352, 0.22360679774997896),
 (1709, 0.22360679774997896),
 (1733, 0.22360679774997896),
 (1742, 0.22360679774997896),
 (34, 0.20412414523193154),
 (241, 0.20412414523193154),
 (268, 0.20412414523193154),
 (307, 0.20412414523193154),
 (444, 0.20412414523193154),
 (857, 0.20412414523193154),
 (864, 0.20412414523193154),
 (868, 0.20412414523193154),
 (1068, 0.20412414523193154),
 (1886, 0.20412414523193154),
 (1904, 0.20412414523193154),
 (0, 0.0),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (7, 0.0),
 (10, 0.0),
 (11, 0.0),
 (13, 0.0),
 (15, 0.0),
 (16, 0.0),
 (18, 0.0),
 (20, 0.0),
 (21, 0.0),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (26, 0.0),
 (27, 0.0),
 (30, 0.0),
 (31, 0.0),
 (33, 0.0),
 (35, 0.0),
 (36, 0.0),
 (39, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (44, 0.0),
 (45, 0.0),
 (48, 0.0),
 (50, 0.0),
 (51, 0.0),
 (53, 0.0),
 (55, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (62, 0.0),
 (65, 0.0),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.0),
 (76, 0.0),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (87, 0.0),
 (88, 0.0),
 (92, 0.0),
 (93, 0.0),
 (96, 0.0),
 (97, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (103, 0.0),
 (104, 0.0),
 (105, 0.0),
 (106, 0.0),
 (107, 0.0),
 (109, 0.0),
 (111, 0.0),
 (113, 0.0),
 (115, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.0),
 (120, 0.0),
 (121, 0.0),
 (122, 0.0),
 (124, 0.0),
 (126, 0.0),
 (127, 0.0),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.0),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (138, 0.0),
 (139, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (145, 0.0),
 (146, 0.0),
 (148, 0.0),
 (150, 0.0),
 (151, 0.0),
 (154, 0.0),
 (155, 0.0),
 (156, 0.0),
 (157, 0.0),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (172, 0.0),
 (173, 0.0),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.0),
 (185, 0.0),
 (188, 0.0),
 (190, 0.0),
 (191, 0.0),
 (192, 0.0),
 (195, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (207, 0.0),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.0),
 (215, 0.0),
 (216, 0.0),
 (218, 0.0),
 (221, 0.0),
 (225, 0.0),
 (226, 0.0),
 (227, 0.0),
 (228, 0.0),
 (230, 0.0),
 (231, 0.0),
 (233, 0.0),
 (235, 0.0),
 (236, 0.0),
 (237, 0.0),
 (238, 0.0),
 (240, 0.0),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.0),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (258, 0.0),
 (259, 0.0),
 (261, 0.0),
 (262, 0.0),
 (264, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.0),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.0),
 (276, 0.0),
 (277, 0.0),
 (279, 0.0),
 (280, 0.0),
 (281, 0.0),
 (283, 0.0),
 (284, 0.0),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (293, 0.0),
 (300, 0.0),
 (302, 0.0),
 (303, 0.0),
 (305, 0.0),
 (306, 0.0),
 (309, 0.0),
 (310, 0.0),
 (312, 0.0),
 (313, 0.0),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (320, 0.0),
 (324, 0.0),
 (325, 0.0),
 (326, 0.0),
 (327, 0.0),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (333, 0.0),
 (335, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (340, 0.0),
 (341, 0.0),
 (342, 0.0),
 (343, 0.0),
 (345, 0.0),
 (346, 0.0),
 (349, 0.0),
 (350, 0.0),
 (352, 0.0),
 (354, 0.0),
 (355, 0.0),
 (356, 0.0),
 (357, 0.0),
 (361, 0.0),
 (364, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.0),
 (370, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (380, 0.0),
 (381, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (397, 0.0),
 (399, 0.0),
 (400, 0.0),
 (401, 0.0),
 (402, 0.0),
 (403, 0.0),
 (404, 0.0),
 (405, 0.0),
 (406, 0.0),
 (407, 0.0),
 (408, 0.0),
 (409, 0.0),
 (411, 0.0),
 (414, 0.0),
 (416, 0.0),
 (417, 0.0),
 (419, 0.0),
 (420, 0.0),
 (424, 0.0),
 (425, 0.0),
 (426, 0.0),
 (428, 0.0),
 (429, 0.0),
 (430, 0.0),
 (431, 0.0),
 (433, 0.0),
 (434, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.0),
 (441, 0.0),
 (443, 0.0),
 (446, 0.0),
 (447, 0.0),
 (448, 0.0),
 (451, 0.0),
 (453, 0.0),
 (454, 0.0),
 (455, 0.0),
 (456, 0.0),
 (457, 0.0),
 (458, 0.0),
 (460, 0.0),
 (461, 0.0),
 (463, 0.0),
 (464, 0.0),
 (466, 0.0),
 (467, 0.0),
 (468, 0.0),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0),
 (473, 0.0),
 (474, 0.0),
 (475, 0.0),
 (476, 0.0),
 (478, 0.0),
 (479, 0.0),
 (480, 0.0),
 (482, 0.0),
 (484, 0.0),
 (485, 0.0),
 (487, 0.0),
 (488, 0.0),
 (489, 0.0),
 (490, 0.0),
 (492, 0.0),
 (495, 0.0),
 (498, 0.0),
 (499, 0.0),
 (503, 0.0),
 (504, 0.0),
 (505, 0.0),
 (506, 0.0),
 (507, 0.0),
 (508, 0.0),
 (509, 0.0),
 (510, 0.0),
 (513, 0.0),
 (515, 0.0),
 (518, 0.0),
 (520, 0.0),
 ...]

In [ ]:
get_recommendations('소원')

72     자산어보
56       동주
308    오아시스
Name: title, dtype: object

In [ ]:
df.iloc[[102, 72, 56, 308]]

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age,soup
102,소원,103535,9.33,드라마,이준익,설경구,김지혜각본,0,0,드라마 이준익 설경구 김지혜각본
72,자산어보,189075,9.35,드라마,이준익,설경구,김세겸각본,30,30,드라마 이준익 설경구 김세겸각본
56,동주,134899,9.37,드라마,이준익,강하늘,신연식각본,55,20,드라마 이준익 강하늘 신연식각본
308,오아시스,34093,9.18,드라마,이창동,설경구,이창동각본,67,20,드라마 이창동 설경구 이창동각본

### 피클

In [ ]:
import pickle

In [ ]:
# pickle.dump(df, open('movies.pickle', 'wb')) #vscode에서 streamlit 쓸 때 이 형식에서 계속 오류가 났다. 저장이 안됐다기엔 다시 불러오기하면 잘 불러와진다.

In [ ]:
# pickle.dump(cosine_sim, open('cosine_sim.pickle', 'wb'))

In [ ]:
with open('movi.pkl', 'wb') as mv:
  pickle.dump(df, mv)

In [ ]:
with open('sim.pkl', 'wb') as sim:
  pickle.dump(cosine_sim, sim)

### 피클 확인

In [ ]:
with open('movies.pickle', 'rb') as p:
  list_movie = pickle.load(p)

In [ ]:
list_movie

,title,code,stars,genre,director,actor,writer,highest_percentages,highest_age,soup
0,탑건:매버릭,81888,9.76,액션,조셉코신스키,톰크루즈,피터크레이그각본,37,30,액션 조셉코신스키 톰크루즈 피터크레이그각본
1,클라우스,191613,9.67,애니메이션,서지오파블로스,제이슨슈왈츠먼,None,0,0,애니메이션 서지오파블로스 제이슨슈왈츠먼 None
2,인생은뷰티풀:비타돌체,213364,9.66,공연실황,김선형,김호중,None,58,50,공연실황 김선형 김호중 None
3,할머니의먼집,144584,9.62,다큐멘터리,이소현,박삼순,안보영프로듀서,68,20,다큐멘터리 이소현 박삼순 안보영프로듀서
4,밥정,186114,9.61,다큐멘터리,박혜령,임지호,엄정화프로듀서,35,20,다큐멘터리 박혜령 임지호 엄정화프로듀서
...,...,...,...,...,...,...,...,...,...,...
1971,링컨차를타는변호사,80626,8.19,범죄,브래드퍼맨,매튜맥커너히,존로마노각본,0,0,범죄 브래드퍼맨 매튜맥커너히 존로마노각본
1972,해피데스데이,164932,8.19,미스터리,크리스토퍼랜던,제시카로테,스콧로브델각본,71,20,미스터리 크리스토퍼랜던 제시카로테 스콧로브델각본
1973,하트오브더씨,114225,8.19,액션,론하워드,크리스헴스워스,찰스리빗각본,50,20,액션 론하워드 크리스헴스워스 찰스리빗각본
1974,기억의밤,160399,8.19,미스터리,장항준,강하늘,장항준각본,62,20,미스터리 장항준 강하늘 장항준각본
1975,터미네이터:미래전쟁의시작,66520,8.19,SF,맥지,크리스찬베일,존브란카토각본,0,0,SF 맥지 크리스찬베일 존브란카토각본

### 구현 테스트

In [ ]:
with open('movi.pkl', 'rb') as mv:
    movies = pickle.load(mv)
with open('sim.pkl', 'rb') as s:
    cosine_sim = pickle.load(s)

In [ ]:
def get_recommendations(title):
    # 영화 제목을 통해 전체 데이터 기준 그 영화의 index 얻기
    idx = movies[movies['title'] == title].index[0]
    # 코사인 유사도 매트릭스에서 위 인덱스 기준의 데이터 찾기
    sim_scores = list(enumerate(cosine_sim[idx]))
    # 유사도 내림차순
    sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # 자신을 제외한 상위 유사도 4개 슬라이싱
    sim_scores = sim_scores[1:5]
    # 슬라이싱한 4개 유사도의 인덱스 추출
    movie_indices = [i[0] for i in sim_scores]
    # 인덱스 정보로 영화정보 추출
    titles = []
    stars = []
    directors = []
    main_actors = []
    genres = []
    like_ages = []

    for i in movie_indices:
        titles.append(movies['title'].iloc[i])
        stars.append(movies['stars'].iloc[i])
        genres.append(movies['genre'].iloc[i])
        directors.append(movies['director'].iloc[i])
        main_actors.append(movies['actor'].iloc[i])
        like_ages.append(movies['highest_age'].iloc[i])
        
    return titles, stars, genres, directors, main_actors, like_ages

In [ ]:
get_recommendations('소원') # 상위4개가 아닌 전체리스트에서 랭킹 상위 4개 소환되어, 한 줄 씩 확인해보았다.

(['클라우스', '인생은뷰티풀:비타돌체', '할머니의먼집', '밥정'],
 [9.67, 9.66, 9.62, 9.61],
 ['애니메이션', '공연실황', '다큐멘터리', '다큐멘터리'],
 ['서지오파블로스', '김선형', '이소현', '박혜령'],
 ['제이슨슈왈츠먼', '김호중', '박삼순', '임지호'],
 [0, 50, 20, 20])

In [ ]:
# 영화 제목을 통해 전체 데이터 기준 그 영화의 index 얻기
idx = movies[movies['title'] == '소원'].index[0]
idx
# # 코사인 유사도 매트릭스에서 위 인덱스 기준의 데이터 찾기
sim_scores = list(enumerate(cosine_sim[idx]))
sim_scores
# # 유사도 내림차순
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) # sorted는 그렇게 보이기는 하지만, 그 데이터 자체를 변환시키는 것이 아니라서 다시 저장해주어야한다.
sim_scores
# # 자신을 제외한 상위 유사도 4개 슬라이싱
sim_scores = sim_scores[1:5]
sim_scores
# # 슬라이싱한 4개 유사도의 인덱스 추출
movie_indices = [i[0] for i in sim_scores]
movie_indices

[72, 56, 308, 500]